/* write the css */
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
/* all buttons start*/

.btn-pink{
    background-color:#FF006F;
}
.btn-blue{
    background-color:#1426F9;
}
#self_btn{
    border-radius:30px;
    padding:12px 30px;
    transition:all 0.5s;   
}
#self_btn1{
    border-radius:30px;
    padding:12px 30px;   
}
#self_btn:hover{
    transform:scale(1.1);
}
/* all buttons end*/
/* navbar start */

#nav_section .navbar .container-lg .nav-link {
    font-weight:700;
    color:white;
}
#nav_section .navbar .container-lg #btn_ul .nav-item .nav-link {
    list-style:none;
}
#ul_link .nav-item .nav-link {
   margin-right:20px;  
}
#nav_section .navbar .container-lg #ul_btn .nav-link:hover{
     transition:all 1s;
}
/* navbar end */
/* Autoplaying carousel start*/

#nav_section .carousel-item .w-100 {
    height:100vh;
}
.my_scroll_up_down{
   background-color:white;
   padding:0;
   left:70px;
   transition:all 0.4s;
}
#nav_section .my_scroll_up_down .navbar-nav .nav-link{
    color:black;
 }
#nav_section .my_scroll_up_down {
    height:80px;
}
#nav_section .my_scroll_up_down img {
    height:100px;   
}
/* text-content in home page */
 .myh2_para2{
    color:white;
    width:100%;
    text-align:left;  
} 
.myh2_para{
    color:white;
    width:50%;
    text-align:left;  
}
h2{
    font-weight:bold;
    font-size:50px;   
}
 p{
   bottom:20px;
   font-weight:bold;
}
a{
    color:white;
    font-weight:bold;
}
a:hover{
    color:#FF006F;

 } 
#nav_section #carousel_style_1 {
    bottom:120px; 
    left:250px;
 }
 #nav_section #carousel_style_2 {
    bottom:120px; 
    left:650px;
 }
 #nav_section #carousel_style_3 {
    bottom:90px; 
    left:250px;
 }
 #nav_section #carousel_style_1 .arrow_1{
    width:10%;
    margin-top:40px;
    color:white;
 }
 #nav_section #carousel_style_2 .arrow_2{
    width:10%;
    margin-top:40px;
    color:white;
 }
 #nav_section #carousel_style_3 .arrow_3{
    width:10%;
    margin-top:40px;
    color:white;
 }
/* animate css */
#carousel_style_1 .arrow_1 {
   animation:my_arrow1_animi 0.8s ease-in-out infinite alternate-reverse;
  }
@keyframe my_arrow1_animi{

    0%{
        margin-top:0px;
    }
    100%{
        margin-top:40px;
    }
   
}

/* .my_scroll_up_down  .nav-link {
    
    color:black;
} */
/* Autoplaying carousel end*/
/* swiper start */
#swiper{
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:300px;
    /* background-color:#FF006F; */

}

#swiper .slider-wrapper{
    overflow:hidden;
    padding:0px 70px;
    max-width:1350px; 
    margin:0px 50px;
}

#swiper .slider-wrapper .card-list .card-item{
    padding:20px;
    text-align:center;
    box-shadow:0px 5px 15px gray;
    margin:20px auto;
    border-radius:20px;
    background-color:white;
    /* width:200px; */
    
}

#swiper .slider-wrapper .card-list .card-item img{
    width:100%;
    height:150px;
    filter:grayscale(100%);
    transition: all 0.4s;
}
#swiper .slider-wrapper .card-list .card-item img:hover{
    filter:grayscale(0%);
}
#swiper .slider-wrapper .swiper-pagination-bullet{
    background-color:#bdc3c7 ;
    height:16px;
    width:16px;
    opacity:1;
    transition:all 0.6s;
}
#swiper .slider-wrapper .swiper-pagination-bullet-active{
    background-color:#566573;
    height:18px;
    width:18px;
}
#swiper .slider-wrapper .button-swiper{
    color:white;
    transition:all 0.5s;
    padding:25px;
    border-radius:50%;
}
#swiper .slider-wrapper .button-swiper:hover{
    background-color:green;
}

/* swiper end */

/* Responsive web page start */
@media screen and (max-width:992px)
{
    /*complete carousel -1  start */
     h2{
        font-size:40px; 
    }
    #nav_section #carousel_style_1 { 
        left:150px;
     }
    p{
        font-size:13px;
    }
    /*complete carousel -1  end */


    
    
     
}
@media screen and (max-width:768px)
{
     /*complete carousel -1  start */
     h2{
        font-size:35px; 
    } 
    #nav_section #carousel_style_1 { 
        left:120px;
     }
    p{
        font-size:11px;
        font-weight:600;
    }
     /*complete carousel -1  end */
     


}
@media screen and (max-width:576px)
{ 
     /*complete carousel -1  start */
    h2{
        font-size:35px;   
    } 
    #nav_section #carousel_style_1 {
        bottom:150px; 
        left:110px;
     }
     .myh2_para{
         width:100%;
    }
    p{
        font-size:11px;
     }
      /*complete carousel -1  end */
     
    
}
/* Responsive web page end */