
/* write the css */
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
/* all buttons start*/
.myfixed_btn{
    position:fixed;
    right:0;
    bottom:0;
}
 #whatsapp_Qr{
    position:fixed;
    bottom:90px;
    right:10px;
    width:200px;
    height:200px;
} 
.btn-pink{
    background-color:#FF006F;
}
.text-pink{
    color:#FF006F;
}
.btn-blue{
    background-color:#1426F9;
}
.text-blue{
    color:#1426F9;
}
.btn-lightblue{
    background-color:#0B75FF;
}
.text-lightblue{
    color:#0B75FF;
}
.text-lightblue{
    color:#0B75FF;
}
.bg-yellow{
    background-color:#FFFF21;
}
#self_btn{
    border-radius:30px;
    padding:12px 30px;
    transition:all 0.5s;   
}

#self_btn1{
    border-radius:30px;
    padding:12px 30px;   
    color:white;
    font-weight:bold;
}
#self_btn2{
    border-radius:30px;
    padding:12px 30px;   
    color:white;
    font-weight:bold;
}
#self_btn3{
    border-radius:30px;
    padding:12px 30px;   
    background-color:white;
    font-weight:bold;
    color:#FF006F;
    border:2px solid #FF006F;
    transition:all 0.5s;
}
#self_btn4{
    border-radius:30px;
    padding:12px 30px;   
    background-color:#FF006F;
    font-weight:bold;
    color:white;
    transition:all 0.5s;
}
#self_btn2:hover{
    background-color:#0B75FF;
    transform: translateY(-5px);
    transition:all 0.5s;
}

#self_btn4:hover{
    background-color:#FF006F;
    transform: translateY(-5px);
}
#self_btn1:hover{
    background-color:#1426F9;
    transform: translateY(-5px);
    transition:all 0.5s;
}
#self_btn3:hover{
  
    transform: translateY(-5px);
    color:#FF006F;
}
.btn_blog{
    margin:20px;
    background-color:transparent;
    border:1px solid white;
    padding:5px 7px;
    border-radius:3px;
    color:white;
    transition:all 0.4s;
}
 .btn_blog:hover{
    background-color:#FF006F;
    border:1px solid #FF006F;
} 
#self_btn:hover{
    transform:scale(1.1);
}
/* all buttons end*/
/* preloader start */
#preloader{
    width:100%;
    height:100vh;
    background:#76d2f7 url(../img/preloader.gif) no-repeat;
    background-size:8%;
    background-position:center;
    position:fixed;
    z-index:9999;
}
/* preloader end */
/* navbar start */

#nav_section .navbar .container-lg .nav-link {
    font-weight:700;
    color:white;
}
#nav_section .navbar .container-lg #btn_ul .nav-item .nav-link {
    list-style:none;
}
#ul_link .nav-item .nav-link {
   margin-right:20px;  
}
#nav_section .navbar .container-lg #ul_btn .nav-link:hover{
     transition:all 1s;
}
/* navbar end */
/* Autoplaying carousel start*/

#nav_section .carousel-item .w-100 {
    height:100vh;
}
.my_scroll_up_down{
   background-color:white;
   padding:0;
   left:70px;
   transition:all 0.4s;
}
#nav_section .my_scroll_up_down .navbar-nav .nav-link{
    color:black;
 }
#nav_section .my_scroll_up_down {
    height:80px;
}
#nav_section .my_scroll_up_down img {
    height:100px;   
}
/* text-content in home page */
 .myh2_para2{
    color:white;
    width:100%;
    text-align:left;  
} 
.myh2_para{
    color:white;
    width:50%;
    text-align:left;  
}
h2{
    font-weight:bold;
    font-size:50px;   
}
 p{
   bottom:20px;
   font-weight:bold;
}
a{
    color:white;
    font-weight:bold;
}
a:hover{
    color:#FF006F;

 } 
#nav_section #carousel_style_1 {
    bottom:120px; 
    left:250px;
 }
 #nav_section #carousel_style_2 {
    bottom:120px; 
    left:650px;
 }
 #nav_section #carousel_style_3 {
    bottom:90px; 
    left:250px;
 }
 #nav_section #carousel_style_1 .arrow_1{
    width:10%;
    margin-top:40px;
    color:white;
 }
 #nav_section #carousel_style_2 .arrow_2{
    width:10%;
    margin-top:40px;
    color:white;
 }
 #nav_section #carousel_style_3 .arrow_3{
    width:10%;
    margin-top:40px;
    color:white;
 }
/* animate css */
#carousel_style_1 .arrow_1 {
   animation:my_arrow1_animi 0.8s ease-in-out infinite alternate-reverse;
  }
@keyframe my_arrow1_animi{

    0%{
        margin-top:0px;
    }
    100%{
        margin-top:40px;
    }
   
}

/* Autoplaying carousel end*/
/* swiper start */
#swiper{
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:200px;
}
#swiper .slider-wrapper{
    overflow:hidden;
    padding:0px 70px;
    max-width:1350px; 
    margin:0px 40px;
}
#swiper .slider-wrapper .card-list .card-item{
    padding:20px;
    text-align:center;
    box-shadow:0px 5px 15px gray;
    margin:20px auto;
    border-radius:20px;
    background-color:white;   
}
#swiper .slider-wrapper .card-list .card-item img{
    width:100%;
    height:80px;
    filter:grayscale(100%);
    transition: all 0.4s;
}
#swiper .slider-wrapper .card-list .card-item img:hover{
    filter:grayscale(0%); 
}
#swiper .slider-wrapper .card-list .card-item:hover{
    border:3px dashed #FF006F;
}
#swiper .slider-wrapper .swiper-pagination-bullet{
    background-color:#bdc3c7 ;
    height:16px;
    width:16px;
    opacity:1;
    transition:all 0.6s;
}
#swiper .slider-wrapper .swiper-pagination-bullet-active{
    background-color:#566573;
    height:18px;
    width:18px;
}

#swiper .slider-wrapper .swiper-button-prev:hover{
   background-color:blue;
   width:35px;
   height:35px;
   border-radius:50%;
   opacity:1;
   transition:all 0.3s;
}
#swiper .slider-wrapper .swiper-button-next:hover{
    background-color:blue;
   width:35px;
   height:35px;
   border-radius:50%;
   opacity:1;
   transition:all 0.3s;

}

/* swiper end */
/* cravefx start */
#cravefx_section{
    background-color:#ED009C;
    width:100%;
    position:relative;
    left:0px;
    bottom:0px;
}

#cravefx_section .container-fluid .row #cravefx_contend_div h4{
    padding:0px 30px 0px 0px; 
    line-height:38px;  
 }
/* cravefx end */
/* Latest-work start */
#latestwork_section{
   // background-color:#FCFD03;
    background:yellow;
}
#latestwork_section .container-lg{
    
    height:auto; 
    background:url(../img/latest_work_background_img_3.png),url(../img/latest_work_background_img_2.png),url(../img/latest_work_background_img_1.png),url(../img/latest_work_background_img_4.png);
    background-position:0%,0%,0%,33%,66%,66%,100%;
    background-size:cover;
}

#latestwork_section .container-lg .col-md-6 .myLw_img_div {
    width:100%;
    position:relative;
    overflow:hidden;
    border-radius:10px;
    
}
#latestwork_section .container-lg .col-md-6 .myLw_img_div img{  
    transform:scale(1);  
    border-radius:10px;
    transition:all 1s; 
    
  }
  #latestwork_section .container-lg .col-md-6 .myLw_img_div:hover img{
     transform:scale(1.1);
     transition:all 1s; 
  }
  #latestwork_section .container-lg .col-md-6 .myLw_img_div .myLw_content{
     position:absolute;
     width:100%;
     left:0;
     bottom:0;
     padding: 500px 30px 30px 30px;
     transition:all 2s;
  }
  #latestwork_section .container-lg .col-md-6 .myLw_img_div .myLw_content:hover{
    color:white;
    background:linear-gradient(rgba(5,5,5,0.5),rgba(0,0,0,0.5));
    transition:all 2s;
  }
/* -------------comment------------- */

/* -------------comment------------- */
/* Latest-work end */

/* imagination section start */
#imagination_section{
    background-color:white;
    width:100%;
    height:auto;
}
#imagination_section #contenth4{
    line-height:35px;
}
#imagination_section #contenth4 a{
    transition:all 1s;
    text-decoration: none;
    font-weight:normal;
}
#imagination_section #contenth4 a:hover{
    color:#212529;
    transition:all 1s;
    
}
#mycols_content{
    margin-top:100px;
}
.comman_property{
    border-radius:20px;
    height:auto;
    padding:50px 34px 30px 34px;
    color:white;
}
.comman_property p{
    font-weight:580;
}
#content_div1{
     margin-top:30px;
   
}
#content_div2{
    margin-top:40px;
   margin-bottom:30px;
}
#content_div3{
    padding-bottom:20px;
   
}
#content_div4{
    padding-top:50px;
    margin-top:20px;
}
#content_div5{
    margin-top:30px;
}
#content_div6{
    margin-top:30px;
    margin-bottom:20px;
}
#content_div7{
    margin-top:0px;
   margin-bottom:70px;
}
#content_div8{
   margin-top:70px;
   margin-bottom:40px;
}

#imagination_section #content_div1{
    transition:all 1s;
}
#imagination_section #content_div1:hover{
    transform:scale(1.1);
    transition:all 1s;
}
#imagination_section #content_div2{
    transition:all 1s;
}
#imagination_section #content_div2:hover{
    transform:scale(1.1);
    transition:all 1s;
}
#imagination_section #content_div3{
    transition:all 1s;
}
#imagination_section #content_div3:hover{
    transform:scale(1.1);
    transition:all 1s;
}
#imagination_section #content_div4{
    transition:all 1s;
}
#imagination_section #content_div4:hover{
    transform:scale(1.1);
    transition:all 1s;
}
#imagination_section #content_div5{
    transition:all 1s;
}
#imagination_section #content_div5:hover{
    transform:scale(1.1);
    transition:all 1s;
}
#imagination_section #content_div6{
    transition:all 1s;
}
#imagination_section #content_div6:hover{
    transform:scale(1.1);
    transition:all 1s;
}
#imagination_section #content_div7{
    transition:all 1s;
}
#imagination_section #content_div7:hover{
    transform:scale(1.1);
    transition:all 1s;
}
#imagination_section #content_div8{
    transition:all 1s;
}
#imagination_section #content_div8:hover{
    transform:scale(1.1);
    transition:all 1s;
}
/* imagination section end */
/* our highlights section start */
#ourhighlights_section{
    width:100%;
    height:auto;
    background-color:#FF006F;
    margin-top:50px;
}
#ourhighlights_section .blog{
    overflow:hidden;
    position:relative;
    width:100%;
    border-radius:10px;
    transition:all 1s; 
}
#ourhighlights_section .blog img{
    height:400px;
    transform:scale(1.15);  
    transition:all 0.5s; 
}
#ourhighlights_section .blog:hover img{
    transform:scale(1.3);    
    transition:all 1s; 
}

#ourhighlights_section .blog .myhighlight_content{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding:500px 40px 30px 40px;
    background:linear-gradient(rgba(5,5,5,0.5),rgba(0,0,0,0.5));
    background-size:100%;
    
}
#ourhighlights_section .blog .myhighlight_content p{
    font-weight:500;
    letter-spacing:1px;
    font-size:16px;
}

#ourhighlights_section .blog .mybtn_blog{
    position:absolute;
    top:0;
    left:0;
}


/* our highlights section end */
/* Ready to collaborate section start */
#readytocollaborate_section{
     /*width:100%; */
    height:auto;
    background:url('../img/footer-bg-min.png') fixed no-repeat;
    background-size:100%;
    background-position:center center;

}
#readytocollaborate_section h2{
    text-shadow: 4px 4px 5px #1E2DF7;
    color:#FFFF00;
    font-size:60px;
    
}
#readytocollaborate_section h4{
    line-height:35px;
    letter-spacing:1px;
}
/* Ready to collaborate section end */
/* footer start */
footer{
    width:100%;
    height:auto;
    background-color:white;
}
h6{
    padding:5px 0px; 
}
footer h5{
    margin-bottom:35px;
}
/* footer end */




/* Responsive web page start */
@media screen and (max-width:992px)
{
    /*complete carousel -1  start */
     h2{
        font-size:40px; 
    }
    #nav_section #carousel_style_1 { 
        left:150px;
     }
    p{
        font-size:13px;
    }
    /*complete carousel -1  end */


    
    
     
}
@media screen and (max-width:768px)
{
     /*complete carousel -1  start */
     h2{
        font-size:35px; 
    } 
    #nav_section #carousel_style_1 { 
        left:120px;
     }
    p{
        font-size:11px;
        font-weight:600;
    }
     /*complete carousel -1  end */
     


}
@media screen and (max-width:576px)
{ 
     /*complete carousel -1  start */
    h2{
        font-size:35px;   
    } 
    #nav_section #carousel_style_1 {
        bottom:150px; 
        left:110px;
     }
     .myh2_para{
         width:100%;
    }
    p{
        font-size:11px;
     }
      /*complete carousel -1  end */
     
    
}
/* Responsive web page end */