
/* write the css */
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
/* all buttons start*/

.btn-pink{
    background-color:#FF006F;
}
.text-pink{
    color:#FF006F;
}
.btn-blue{
    background-color:#1426F9;
}
.text-blue{
    color:#1426F9;
}
.btn-lightblue{
    background-color:#0B75FF;
}
.text-lightblue{
    color:#0B75FF;
}
.text-lightblue{
    color:#0B75FF;
}
.bg-yellow{
    background-color:#FFFF21;
}
#self_btn{
    border-radius:30px;
    padding:12px 30px;
    transition:all 0.5s;   
}
#self_btn1{
    border-radius:30px;
    padding:12px 30px;   
    color:white;
    font-weight:bold;
}
#self_btn2{
    border-radius:30px;
    padding:12px 30px;   
    color:white;
    font-weight:bold;
}
#self_btn3{
    border-radius:30px;
    padding:12px 30px;   
    background-color:white;
    font-weight:bold;
    color:#FF006F;
    border:2px solid #FF006F;
    transition:all 0.5s;
}
#self_btn4{
    border-radius:30px;
    padding:12px 30px;   
    background-color:#FF006F;
    font-weight:bold;
    color:white;
    transition:all 0.5s;
}
#self_btn2:hover{
    background-color:#0B75FF;
    transform: translateY(-5px);
    transition:all 0.5s;
}

#self_btn4:hover{
    background-color:#FF006F;
    transform: translateY(-5px);
}
#self_btn1:hover{
    background-color:#1426F9;
    transform: translateY(-5px);
    transition:all 0.5s;
}
#self_btn3:hover{
  
    transform: translateY(-5px);
    color:#FF006F;
}
/* #self_btn2:hover{
    background-color:#0B75FF;
    transform: translateY(-10px);
    transition:all 0.5s;
} */
#self_btn2{

}
#self_btn:hover{
    transform:scale(1.1);
}
/* all buttons end*/
/* navbar start */

#nav_section .navbar .container-lg .nav-link {
    font-weight:700;
    color:white;
}
#nav_section .navbar .container-lg #btn_ul .nav-item .nav-link {
    list-style:none;
}
#ul_link .nav-item .nav-link {
   margin-right:20px;  
}
#nav_section .navbar .container-lg #ul_btn .nav-link:hover{
     transition:all 1s;
}
/* navbar end */
/* Autoplaying carousel start*/

#nav_section .carousel-item .w-100 {
    height:100vh;
}
.my_scroll_up_down{
   background-color:white;
   padding:0;
   left:70px;
   transition:all 0.4s;
}
#nav_section .my_scroll_up_down .navbar-nav .nav-link{
    color:black;
 }
#nav_section .my_scroll_up_down {
    height:80px;
}
#nav_section .my_scroll_up_down img {
    height:100px;   
}
/* text-content in home page */
 .myh2_para2{
    color:white;
    width:100%;
    text-align:left;  
} 
.myh2_para{
    color:white;
    width:50%;
    text-align:left;  
}
h2{
    font-weight:bold;
    font-size:50px;   
}
 p{
   bottom:20px;
   font-weight:bold;
}
a{
    color:white;
    font-weight:bold;
}
a:hover{
    color:#FF006F;

 } 
#nav_section #carousel_style_1 {
    bottom:120px; 
    left:250px;
 }
 #nav_section #carousel_style_2 {
    bottom:120px; 
    left:650px;
 }
 #nav_section #carousel_style_3 {
    bottom:90px; 
    left:250px;
 }
 #nav_section #carousel_style_1 .arrow_1{
    width:10%;
    margin-top:40px;
    color:white;
 }
 #nav_section #carousel_style_2 .arrow_2{
    width:10%;
    margin-top:40px;
    color:white;
 }
 #nav_section #carousel_style_3 .arrow_3{
    width:10%;
    margin-top:40px;
    color:white;
 }
/* animate css */
#carousel_style_1 .arrow_1 {
   animation:my_arrow1_animi 0.8s ease-in-out infinite alternate-reverse;
  }
@keyframe my_arrow1_animi{

    0%{
        margin-top:0px;
    }
    100%{
        margin-top:40px;
    }
   
}

/* Autoplaying carousel end*/
/* swiper start */
#swiper{
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:300px;
}
#swiper .slider-wrapper{
    overflow:hidden;
    padding:0px 70px;
    max-width:1350px; 
    margin:0px 50px;
}
#swiper .slider-wrapper .card-list .card-item{
    padding:20px;
    text-align:center;
    box-shadow:0px 5px 15px gray;
    margin:20px auto;
    border-radius:20px;
    background-color:white;   
}
#swiper .slider-wrapper .card-list .card-item img{
    width:100%;
    height:150px;
    filter:grayscale(100%);
    transition: all 0.4s;
}
#swiper .slider-wrapper .card-list .card-item img:hover{
    filter:grayscale(0%); 
}
#swiper .slider-wrapper .card-list .card-item:hover{
    border:3px dashed #FF006F;
}
#swiper .slider-wrapper .swiper-pagination-bullet{
    background-color:#bdc3c7 ;
    height:16px;
    width:16px;
    opacity:1;
    transition:all 0.6s;
}
#swiper .slider-wrapper .swiper-pagination-bullet-active{
    background-color:#566573;
    height:18px;
    width:18px;
}
/* #swiper .slider-wrapper .button-swiper{
    color:white;
    transition:all 0.5s;
    padding:25px;
    border-radius:50%;
} */
/* #swiper .slider-wrapper .button-swiper:hover{
    background-color:green;
} */
#swiper .slider-wrapper .swiper-button-prev:hover{
   background-color:blue;
   width:35px;
   height:35px;
   border-radius:50%;
   opacity:1;
   transition:all 0.3s;
}
#swiper .slider-wrapper .swiper-button-next:hover{
    background-color:blue;
   width:35px;
   height:35px;
   border-radius:50%;
   opacity:1;
   transition:all 0.3s;

}

/* swiper end */
/* cravefx start */
#cravefx_section{
    background-color:#ED009C;
    width:100%;
    
}
#cravefx-nav_section .container-fluild .row .col-md-6 h2{
   padding:0px 100px; 
}
#cravefx-nav_section .container-fluild .row .col-md-6 h4{
    padding:20px 300px; 
 }
/* cravefx end */
/* Latest-work start */
#latestwork_section{
    background-color:#FCFD03;
    /* background:url('./assist/img/about-bg-2.png') ; */
     height:auto; 
}
.myLw_img{
    width:100%;
    height:100%;
    border-radius:20px;
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url('./assist/img/Funwithbili-Thumb.jpg')
}

 /* #latestwork_section .container-lg .col-md-6 .myLw_img img:hover{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    
    transform:scale(1.05);
    transition:all 0,8s;
}  */
/* Latest-work end */

/* imagination section start */
#imagination_section{
    background-color:white;
    width:100%;
    height:auto;
}
#mycols_content{
    margin-top:100px;
}
.comman_property{
    border-radius:20px;
    /* width:250px; */
    height:auto;
    padding:50px 34px 30px 34px;
    color:white;
}
.comman_property p{
    font-weight:580;
}
#content_div1{
     margin-top:30px;
   
}
#content_div2{
    margin-top:40px;
   margin-bottom:30px;
}
#content_div3{
    padding-bottom:20px;
   
}
#content_div4{
    padding-top:50px;
    margin-top:20px;
}
#content_div5{
    margin-top:30px;
}
#content_div6{
    margin-top:30px;
    margin-bottom:20px;
}
#content_div7{
    margin-top:0px;
   margin-bottom:70px;
}
#content_div8{
   margin-top:70px;
   
  margin-bottom:40px;
}
/* imagination section end */
/* our highlights section start */
#ourhighlights_section{
    width:100%;
    height:auto;
    background-color:#FF006F;
    margin-top:50px;

}
.blog{
    width:100%;
    hight:100%;
    border-radius:10px;
}
/* our highlights section end */
/* Ready to collaborate section start */
#readytocollaborate_section{
    width:100%;
    height:auto;
    background:url('../img/footer-bg-min.png') no-repeat;
    background-size:100%;
    background-position:center center;

}
/* Ready to collaborate section end */
/* footer start */
footer{
    width:100%;
    height:auto;
    background-color:white;
}
.comman_propety2{
    padding:40px 0px; 
}
/* footer end */




/* Responsive web page start */
@media screen and (max-width:992px)
{
    /*complete carousel -1  start */
     h2{
        font-size:40px; 
    }
    #nav_section #carousel_style_1 { 
        left:150px;
     }
    p{
        font-size:13px;
    }
    /*complete carousel -1  end */


    
    
     
}
@media screen and (max-width:768px)
{
     /*complete carousel -1  start */
     h2{
        font-size:35px; 
    } 
    #nav_section #carousel_style_1 { 
        left:120px;
     }
    p{
        font-size:11px;
        font-weight:600;
    }
     /*complete carousel -1  end */
     


}
@media screen and (max-width:576px)
{ 
     /*complete carousel -1  start */
    h2{
        font-size:35px;   
    } 
    #nav_section #carousel_style_1 {
        bottom:150px; 
        left:110px;
     }
     .myh2_para{
         width:100%;
    }
    p{
        font-size:11px;
     }
      /*complete carousel -1  end */
     
    
}
/* Responsive web page end */